body {
    background-color: antiquewhite;
}

.App {
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  font-family: 'Lato', sans-serif;
}

.Navbar {
    background-color: black;
    display: flex;
    flex-direction: column;
}


.h3Style {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


